/* IMPORTAR LAS VARIABLES Y FORMATEAR LOS ESTILOS POR DEFECTO */
@import "normalize.css";
@import "variables.css";

/* BODY */
body{
    background-color: rgb(145, 144, 144);
    background-position: center;
    background-size: cover;
}
/* /BODY*/

.margen-sobre-mi, .margen-proyectos, .margen-habilidades, .margen-contactos{
    width: 100%;
    height: 100px;
}

/* CONTENEDOR MENÚ */
.menu{
    width: 100%;
    height: 100px;
    padding: 10px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-oscuro);
    border-bottom: 2px solid var(--color-claro);
    box-sizing: border-box;
    z-index: 10;
}

.menu__logo{
    width: 15%;
    padding: 5px 10px;
    height: auto;
    text-align: center;
    box-sizing: border-box;
}

.menu__logo h2{
    font-family: var(--fuente-titulos);
    color: var(--color-claro);
    text-shadow: 5px 5px 10px var(--color-claro);
    letter-spacing: 3px;
}

.menu__enlaces{
    width: 40%;
    border: 2px solid var(--color-claro);
    box-sizing: border-box;
}

.menu__enlaces ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
}

.menu__enlaces li{
    width: 20%;
    padding: 10px;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.menu__enlaces li:hover{
    background-color: rgba(255, 255, 255, .2);
    font-style: italic;
    cursor: pointer;
    color: black;
}

.menu__enlaces a, .menu__enlaces span{
    text-decoration: none;
    font-family: var(--fuente-texto);
    color: var(--color-claro);
    box-sizing: border-box;
}

.menu__enlaces .menu-responsive{
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /CONTENEDOR MENÚ */

/* CONTENEDOR DEL MENÚ PARA PANTALLAS MOBILES*/
.segundo-menu{
    position: fixed;
    top: 100px;
    bottom: 30%;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    transform: translateX(-100%);
    transition-duration: .5s;
    z-index: 8;
    box-sizing: border-box;
}

.segundo-menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
}

.segundo-menu li{
    margin: 20px 10px;
}

.segundo-menu a, .segundo-menu span{
    font-family: var(--fuente-texto);
    font-size: 25px;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--color-claro);
}

.segundo-menu a:hover{
    font-style: italic;
    border-bottom: 2px solid var(--color-claro);
}
/* /CONTENEDOR PARA PANTALLAS MOBILES */

/* HEADER*/
.contenedor-principal{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    box-sizing: border-box;
}

.contenedor-principal__escrito{
    width: 40%;
    height: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 20px 20px 40px var(--color-oscuro);
    background-color: rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

.contenedor-principal__escrito h3{
    font-family: var(--fuente-titulos);
    font-size: 40px;
}

.contenedor-principal__escrito h4{
    font-family: var(--fuente-texto);
    font-size: 25px;
}

.contenedor-principal__escrito p{
    font-family: var(--fuente-texto);
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
    margin: 10px 20px;
    box-sizing: border-box;
}

.contenedor-principal__imagen{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contenedor-principal__imagen img{
    max-width: 55%;
    border-radius: 25px;
    box-shadow: 20px 20px 40px var(--color-oscuro);
}
/* /HEADER */

/* MAIN */
.main{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
/* /MAIN */

/* HABILIDADES */
.habilidades{
    position: relative;
    width: 80%;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('https://i.pinimg.com/originals/9f/10/da/9f10dab5092bb07649782edf0392b72a.jpg');
    background-position: center;
    background-size: cover;
    border: 5px solid var(--color-claro);
    box-shadow: 20px 30px 30px var(--color-oscuro);
    border-radius: 25px;
}

.habilidades__titulo{
    width: 100%;
    height: 20%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-bottom: 2px solid var(--color-claro);
    font-weight: bolder;
    letter-spacing: 5px;
    box-sizing: border-box;
}   

.habilidades__titulo h2{
    font-family: var(--fuente-titulos);
    color: var(--color-claro);
}

.habilidades__contenedor{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    overflow: hidden;
}

.habilidades__contenedor .tarjeta-habilidad{
    width: 100%;
    height: 100%;padding: 20px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    box-sizing: border-box;
    will-change: transform;
}

.tarjeta-habilidad__imagen, .tarjeta-habilidad__info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.tarjeta-habilidad__imagen span{
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    border: 5px solid var(--color-oscuro);
    border-radius: 25px;
    box-shadow: 5px 10px 40px var(--color-claro);
}

.tarjeta-habilidad__info h2{
    font-family: var(--fuente-titulos);
    color: var(--color-claro);
    font-size: 40px;
    letter-spacing: 5px;
}

.tarjeta-habilidad__info p{
    margin: 0 30px;
    font-family: var(--fuente-texto);
    font-size: 20px;
    color: var(--color-claro);
    text-align: center;
    line-height: 2em;
    box-sizing: border-box;
}

.flecha-movimiento{
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: var(--color-claro);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition-duration: .5s;
    box-sizing: border-box;
    z-index: 5;
}

.flecha-movimiento:hover{
    transform: scale(1.5);
    border: 3px solid var(--color-claro);
    cursor: pointer;
}

.derecha{
    right: 20px;
}

.izquierda{
    left: 20px;
}
/* /HABILIDADES */

/* PROYECTOS */
.proyectos{
    width: 80%;
    height: auto;
    margin: 40px auto; 
    background-image: url('https://i.pinimg.com/originals/92/9b/7f/929b7f26dff41cb23d4fb8b5763cf32f.jpg');
    border: 2px solid var(--color-claro);
    box-shadow: 20px 30px 30px var(--color-oscuro);
    border-radius: 25px;
    overflow: hidden;
    box-sizing: border-box;
}

.proyectos__titulo{
    width: 100%;
    height: 10%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid var(--color-claro);
    box-sizing: border-box;
}

.proyectos__titulo h2{
    font-size: 40px;
    font-family: var(--fuente-titulos);
    color: var(--color-claro);
    letter-spacing: 5px;
}

.proyectos__carga{
    width: 100%;
    min-height: 50px;
    height: 10%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.proyectos__carga .contenedor-carga{
    width: 80%;
    min-height: 50px;
    height: 100%;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    animation-duration: 4s;
    /* animation-name: barraColor; */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    box-sizing: border-box;
}

.contenedor-carga .carga{
    width: 100%;
    height: 100%;
    min-height: 50px;
    background-color: var(--color-claro);
    transform: translate(-100%);
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.proyectos__contenedor{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.tarjeta-proyecto{
    width: 25%;
    height: 350px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .8);
    border: 2px solid var(--color-claro);
    opacity: 0;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-radius: 25px;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
}

.tarjeta-proyecto__imagen{
    width: 100%;
    height: 45%;
    background-image: url('https://i.pinimg.com/originals/d0/44/97/d0449784f8149030489cf326f5f59b90.png');
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid var(--color-claro);
    box-sizing: border-box;
}

.tarjeta-proyecto__info{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
}

.tarjeta-proyecto__info p{
    margin: 10px;
    padding: 10px;
    font-family: var(--fuente-texto);
    font-size: 18px;
    text-align: center;
    color: var(--color-claro);
}

.tarjeta-proyecto__info a{
    width: 40%;
    margin: 0 auto;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 25px;
    border: 2px solid var(--color-claro);
    font-family: var(--fuente-titulos);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: var(--color-claro);
    box-sizing: border-box;
}

.tarjeta-proyecto__info a:hover{
    background-color: rgba(255, 255, 255, .3);
    font-style: italic;
    text-transform: capitalize;
    color: var(--color-oscuro);
}
/* /PROYECTOS */

/* SOBRE MI */

.sobre-mi{
    width: 80%;
    margin: 50px auto;
    border: 2px solid var(--color-claro);
    border-radius: 25px;
    overflow: hidden;
    background-image: url('https://i.pinimg.com/originals/bc/5b/3c/bc5b3c95cac2d4efb3b0ca67bbadfc42.jpg');
    background-size: contain;
    box-shadow: 20px 30px 30px var(--color-oscuro);
    box-sizing: border-box;
}

.sobre-mi__titulo{
    width: 100%;
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color-claro);
    box-sizing: border-box;
}

.sobre-mi__titulo h2{
    width: 100%;
    margin: 0;
    display: inline;
    text-align: center;
    letter-spacing: 5px;
    color: var(--color-claro);
    font-size: 40px;
    font-family: var(--fuente-titulos);
    font-weight: bolder;
}

.sobre-mi__contenedor{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sobre-mi__contenedor .informacion-mia{
    width: 70%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.informacion-mia .titulo-seccion{
    width: 80%;
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted var(--color-claro);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .2);
    box-sizing: border-box;
}

.titulo-seccion h3{
    margin-left: 30px;
    color: var(--color-claro);
    font-family: var(--fuente-titulos);
    font-size: 25px;
    letter-spacing: 2px;
}

.informacion-mia .informacion-seccion{
    width: 100%;
    margin: 10px;
    padding: 20px 30px;
    box-sizing: border-box;
}

.informacion-seccion ul{
    width: 50%;
    margin: auto;
}

.informacion-seccion li{
    height: 40px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--fuente-texto);
    font-size: 20px;
    color: var(--color-claro);
    list-style: none;
    box-sizing: border-box;
}

.informacion-seccion li .icono-actividad{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-claro);
    box-sizing: border-box;
}

[class^="flaticon-"]:before{
    margin-left: 0;
}

.informacion-mia .contenedor-tarjetas-cursos{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.contenedor-tarjetas-cursos ul{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.contenedor-tarjetas-cursos li{
    width: 45%;
}

.tarjeta-curso{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-claro);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 1px 2px 2px var(--color-claro);
    box-sizing: border-box;
}

.tarjeta-curso img{
    max-width: 85%;
}

.tarjeta-curso:first-of-type{
    margin-top: 40px;
}

/* /SOBRE MI */

/* CONTACTO */
.contacto{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid var(--color-claro);
    background-color: var(--color-oscuro);
    box-sizing: border-box;
}

.enlace-contacto{
    width: 100px;
    height: 100px;
    margin: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid var(--color-claro);
    border-radius: 50%;
    box-sizing: border-box;
}

.enlace-contacto a, .enlace-contacto span{
    font-size: 50px;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-claro);
}

.enlace-contacto:hover{
    background-color: rgba(255, 255, 255, .8);
}

.enlace-contacto:hover a, .enlace-contacto:hover span{
    color: var(--color-oscuro);
}
/* /CONTACTO*/

/* FOOTER */
.footer{
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: var(--color-oscuro);
    box-sizing: border-box;
}

.footer h3{
    font-family: var(--fuente-titulos);
    color: var(--color-claro);
    letter-spacing: 3px;
}

.footer h4{
    font-family: var(--fuente-texto);
    color: var(--color-claro);
    letter-spacing: 3px;
    font-style: italic;
}

/* BOTON PARA REGRESAR AL INICIO DE LA PANTALLA*/
.contenedor-boton-inicio{
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-oscuro);
    transition-duration: .2s;
    box-sizing: border-box;
    will-change: transform;
    z-index: 10;
}

.contenedor-boton-inicio:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: var(--color-claro);
}

.contenedor-boton-inicio:hover span{
    color: var(--color-oscuro);
}

.contenedor-boton-inicio span{
    font-size: 25px;
    font-weight: bolder;
    color: var(--color-claro);
}
/* /BOTON PARA REGRESAR AL INICIO DE LA PANTALLA*/

/* ANIMACIONES */
@keyframes barraDeCarga{
    from{
        transform: translate(-100%);
    }
    to{
        transform: translate(0);
    }
}

@keyframes barraColor{
    0%{
        border:1px solid red;
    }
    25%{
        border:1px solid red;
    }
    35%{
        border:2px solid rgb(238, 255, 0);
    }
    45%{
        border:3px solid rgb(238, 255, 0);
    }
    70%{
        border:3px solid rgb(238, 255, 0);
    }
    75%{
        border: 4px solid rgb(12, 241, 12);
    }
    80%{
        border: 5px solid rgb(12, 241, 12);
    }
    100%{
        border: 5px solid rgb(12, 241, 12);
    }
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* MEDIA QUERIES */
@media only screen and (min-width: 319px){
    .menu__enlaces{
        width: 20%;
    }

    .menu__enlaces li{
        display: none;
    }

    .menu__enlaces li:last-of-type{
        width: 100%;
        display: block;
    }

    .contenedor-principal{
        flex-direction: column;
    }

    .contenedor-principal__escrito{
        width: 85%;
    }

    .contenedor-principal__escrito h3, .contenedor-principal__escrito h4{
        text-align: center;
    }

    .contenedor-principal__imagen{
        width: 80%;
        margin:20px auto;
    }

    .habilidades{
        width: 95%;
    }

    .habilidades__titulo{
        height: 15%;
    }

    .habilidades__titulo h2{
        font-size: 30px;
    }

    .habilidades__contenedor{
        height: 85%;
    }

    .habilidades__contenedor .tarjeta-habilidad{
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .tarjeta-habilidad__imagen{
        width: 80%;
    }

    .tarjeta-habilidad__imagen span{
        width: 100%;
        height: 100%;
        padding: 10px;
        font-size: 8em;
        box-sizing: border-box;
    }

    .tarjeta-habilidad__info{
        width: 100%;
    }

    .tarjeta-habilidad__info h2{
        margin: 10px 20px;
        font-size: 30px;
    }

    .tarjeta-habilidad__info p{
        margin: 0;
        font-size: 15px;
    }

    .tarjeta-proyecto{
        width: 90%;
        margin: 10px;
    }

    .tarjeta-proyecto__imagen{
        height: 35%;
    }

    .tarjeta-proyecto__info a{
        align-self: center;
        width: 80%;
    }

    .sobre-mi{
        width: 95%;
        margin: 30px auto;
    }

    .sobre-mi__titulo{
        height: 80px;
    }

    .sobre-mi__titulo h2{
        font-size: 30px;
    }

    .sobre-mi__contenedor .informacion-mia{
        width: 100%;
    }

    .titulo-seccion h3{
        margin: 0;
    }

    .sobre-mi .informacion-seccion{
        padding: 0;
    }

    .informacion-seccion ul{
        width: 100%;
        padding: 0;
    }

    .informacion-seccion li{
        margin: 20px auto;
    }

    .informacion-seccion .titulo-actividad span{
        width: 100%;
        display: block;
        font-size: 18px;
    }

    .tarjeta-curso:first-of-type{
        margin-top: 20px;
        flex-direction: column;
    }

    .informacion-mia .contenedor-tarjetas-cursos {
        padding: 5px;
    }

    .contenedor-tarjetas-cursos li{
        width: 90%;
    }

    .tarjeta-curso{
        height: 200px;
    }
}

@media only screen and (min-width: 319px) and (orientation: landscape){
    .contenedor-principal{
        padding: 20px;
        flex-direction: row;
    }

    .contenedor-principal__escrito{
        width: 60%;
        box-sizing: border-box;
    }

    .contenedor-principal__escrito h4{
        margin: 0;
        margin-bottom: 10px;
    }

    .contenedor-principal__imagen{
        width: 40%;
        margin: 40px auto;
    }

    .informacion-seccion li{
        margin-left: 200px;
    }

    .segundo-menu{
        bottom: 20px;
    }

    .segundo-menu ul{
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .segundo-menu li{
        width: 30%;
        text-align: center;
    }

    .tarjeta-curso{
        height: 250px;
    }

    .tarjeta-curso img{
        max-width: 55%;
    }
}

@media only screen and (min-width: 374px){
    .habilidades{
        width: 90%;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .tarjeta-curso{
        height: 200px;
    }

    .tarjeta-curso img{
        max-width: 90%;
    }
}

@media only screen and (min-width: 374px) and (orientation: landscape){
    .tarjeta-curso{
        height: 250px;
    }
    .tarjeta-curso img{
        max-width: 55%;
    }
}

@media only screen and (min-width: 424px) and (max-width: 705px){
    .contenedor-tarjetas-cursos li{
        margin-bottom: 20px;
    }

    .tarjeta-curso img{
        max-width: 80%;
    }
}

@media only screen and (min-width: 424px) and (orientation: landscape){
    .tarjeta-curso img{
        max-width: 55%;
    }
}

@media only screen and (min-width: 706px){
    .contenedor-principal{
        flex-direction: row;
    }

    .contenedor-principal__escrito{
        width: 55%;
        margin: auto;
    }

    .contenedor-principal__imagen{
        width: 40%;
    }

    .contenedor-principal__imagen img{
        max-width: 70%;
    }

    .contenedor-tarjetas-cursos .tarjeta-curso{
        flex-direction: row;
    }

    .sobre-mi .informacion-seccion{
        width: 70%;
        margin: auto;
    }

    .tarjeta-curso{
        width: 80%;
    }

    .tarjeta-curso img{
        max-width: 55%;
    }

    .tarjeta-proyecto{
        width: 45%;
    }
}

@media only screen and (min-width: 767px){
    .segundo-menu{
        bottom: 40%;
    }

    .informacion-seccion li{
        margin-left: 50px;
    }

    .tarjeta-curso img{
        max-width: 50%;
    }

    .tarjeta-proyecto{
        width: 30%;
    }

    .tarjeta-proyecto__imagen{
        height: 40%;
    }

    .tarjeta-proyecto__info{
        height: 60%;
    }
}

@media only screen and (min-width: 1023px){
    .imagen-curso img{
        max-width: 70%;
    }

    .menu__enlaces{
        width: 40%;
    }

    .menu__enlaces li{
        display: block;
    }

    .menu__enlaces li:last-of-type{
        display: none;
    }

    .tarjeta-habilidad__info p{
        font-size: 20px;
    }

    .contenedor-tarjetas-cursos li{
        width: 45%;
    }

    .tarjeta-curso{
        height: 200px;
    }

    .tarjeta-curso img{
        max-width: 60%;
    }

    .tarjeta-proyecto__info a{
        width: 60%;
    }
}

@media only screen and (min-width: 1100px){
    .tarjeta-curso img{
        max-width: 50%;
    }
}

@media only screen and (min-width: 1439px){
    .habilidades{
        width: 75%;
        height: 600px;
    }

    .proyectos, .sobre-mi{
        width: 80%;
    }

    .tarjeta-curso{
        width: 80%;
    }

    .tarjeta-curso img{
        max-width: 55%;
    }

    .imagen-curso img{
        max-width: 60%;
    }

    .titulo-proyecto{
        margin-top: 10px;
    }

    .info-proyecto .titulo-proyecto h2{
        margin: 10px;
        font-size: 35px;
    }

    .descripcion-proyecto{
        padding: 20px;
        box-sizing: border-box;
    }

    .info-proyecto .descripcion-proyecto p{
        font-size: 25px;
    }

    .info-proyecto .descripcion-proyecto a{
        margin-top: 20px;
        padding: 10px 20pxx;
        font-size: 20px;
    }
}

@media only screen and (min-width: 2559px){
    .contenedor-principal__imagen img{
        max-width: 40%;
    }

    .habilidades{
        width: 60%;
        height: 700px;
    }

    .flecha-movimiento{
        width: 100px;
        height: 100px;
        line-height: 100px;
    }

    .contenedor-boton-inicio{
        width: 100px;
        height: 100px;
    }

    .proyectos{
        width: 65%;
    }

    .proyectos__carga .contenedor-carga{
        width: 70%;
        margin-top: 50px;
    }

    .informacion-seccion ul{
        width: 50%;
    }

    .imagen-curso img{
        max-width: 40%;
    }

    .tarjeta-curso{
        height: 300px;
    }

    .tarjeta-curso img{
        max-width: 50%;
    }
}