/* VARIABLES DEL PROYECTO */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald&display=swap');

:root{
    /* COLORES */
    --color-claro: #fff;
    --color-oscuro: #000;
    --color-secundario: rgb(22, 6, 255);

    /* FUENTES */
    --fuente-texto: 'Oswald', sans-serif;
    --fuente-titulos: 'Indie Flower', cursive;
}